In [2]:
import numpy as np

In [4]:
a = np.array([[1,2,3],[4,5,6]])
print(a)

[[1 2 3]
 [4 5 6]]

In [5]:
# get dimensions
a.ndim

2

In [6]:
# get shape
a.shape

(2, 3)

In [7]:
# get data type
a.dtype

dtype('int32')

In [8]:
# specify datatype
b = np.array([1,2,3],dtype='int16')
print(b)

[1 2 3]

In [9]:
b.dtype

dtype('int16')

In [11]:
# get size
b.itemsize

2

In [12]:
a.itemsize

4

In [14]:
# get total size
a.nbytes

24

## Accessing/ Changing specific elements, rows, columns, etc

In [15]:
a = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]

In [18]:
a[1,5]

13

In [19]:
# get a row
a[0, :]

array([1, 2, 3, 4, 5, 6, 7])

In [20]:
# get a column
a[:,3]

array([ 4, 11])

In [21]:
# [startindex:endindex:stepsize]
a[0, 0:7:2]

array([1, 3, 5, 7])

In [22]:
a[0, 1:6:2]

array([2, 4, 6])

In [24]:
a[0, 1:-1:2]

array([2, 4, 6])

In [25]:
# to change one element's value
a[1,5]=20
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 20 14]]

In [26]:
# to change an entire column's value to one number
a[:,2]=5
print(a)

[[ 1  2  5  4  5  6  7]
 [ 8  9  5 11 12 20 14]]

In [28]:
# to change column'c value to respective values
a[:,2]=[1,2]
print(a)

[[ 1  2  1  4  5  6  7]
 [ 8  9  2 11 12 20 14]]

In [29]:
b = np.array([[[1,2],[3,4]],[[5,6],[7,8]]])
print(b)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [30]:
# get specific element (work outside in), say we want 4
b[0,1,1]

4

In [41]:
b[:,0,:]

array([[1, 2],
       [5, 6]])

In [43]:
b[:,1,:]=[[4,5],[8,9]]
print(b)

[[[1 2]
  [4 5]]

 [[5 6]
  [8 9]]]

## Initialising different types of arrays

In [44]:
# all zeros
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [46]:
# all ones
np.ones((4,2,2),dtype='int32')

array([[[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]]])

In [49]:
# for any other number
np.full((2,2), 3)

array([[3, 3],
       [3, 3]])

In [50]:
# to get an array of the same shape as another array (full_like)
np.full(a.shape, 4)

array([[4, 4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4, 4]])

In [51]:
np.full_like(a,4)

array([[4, 4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4, 4]])

In [56]:
# for random numbers (no tuple here)
np.random.rand(4,2)

array([[0.27626858, 0.91492911],
       [0.43316527, 0.16433354],
       [0.4316046 , 0.8705301 ],
       [0.00215046, 0.51345166]])

In [57]:
np.random.random_sample(a.shape)

array([[0.0029072 , 0.70816763, 0.70749351, 0.33107372, 0.54533535,
        0.12316177, 0.09463633],
       [0.75437879, 0.47158646, 0.87525094, 0.72860394, 0.84059971,
        0.73564932, 0.49122455]])

In [74]:
#  random inetegers (4,8) is to specify range
np.random.randint(4,8,size=(3,3))

array([[4, 4, 4],
       [5, 4, 4],
       [6, 6, 4]])

In [75]:
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [79]:
# repeat an array
arr = np.array([[1,2,3]])
r1 = np.repeat(arr,3,axis=0)
print(r1)

[[1 2 3]
 [1 2 3]
 [1 2 3]]

In [83]:
# print the array 
# [1,1,1,1,1
# 1,0,0,0,1
# 1,0,9,0,1
# 1,0,0,0,1
# 1,1,1,1,1]
e = np.ones((5,5),dtype='int32')
print(e)

[[1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]]

In [91]:
z=np.zeros((3,3))
z[1,1]=9
z

array([[0., 0., 0.],
       [0., 9., 0.],
       [0., 0., 0.]])

In [94]:
e[1:4,1:4]=z
e

array([[1, 1, 1, 1, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 9, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 1, 1, 1, 1]])

In [95]:
# While copying, use .copy() 
a = np.array([1,2,3])
b=a.copy()
b[0]=20
print(a)
print(b)

[1 2 3]
[20  2  3]

### Mathematics

In [96]:
a = np.array([1,2,3,4])
a

array([1, 2, 3, 4])

In [97]:
a+2

array([3, 4, 5, 6])

In [98]:
a-2

array([-1,  0,  1,  2])

In [99]:
a*2

array([2, 4, 6, 8])

In [100]:
a/2

array([0.5, 1. , 1.5, 2. ])

In [101]:
a**2

array([ 1,  4,  9, 16], dtype=int32)

In [102]:
np.sin(a)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [103]:
np.cos(a)

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362])

### Linear Algebra

In [107]:
a = np.ones((2,3))
print(a)

b = np.full((3,2),2)
print(b)

c = np.matmul(a,b)
print(c)

[[1. 1. 1.]
 [1. 1. 1.]]
[[2 2]
 [2 2]
 [2 2]]
[[6. 6.]
 [6. 6.]]

In [108]:
# Finding the determinant
c = np.identity(3)
np.linalg.det(c)

1.0

In [ ]:
# Determinant
# Trace
# Singular Vector Decomposition
# Eigen Values
# Matrix Norm
# Inverse, etc

### Statistics

In [109]:
stats = np.array([[1,2,3],[4,5,6]])
stats

array([[1, 2, 3],
       [4, 5, 6]])

In [110]:
np.min(stats)

1

In [111]:
np.max(stats)

6

In [112]:
# min on horizontal axes
np.min(stats, axis=1)

array([1, 4])

In [113]:
# min on vertical axes
np.min(stats, axis=0)

array([1, 2, 3])

In [114]:
np.sum(stats)

21

In [117]:
np.sum(stats, axis=0)

array([5, 7, 9])

### Reorganizing Arrays

In [122]:
bef = np.array([[1,2,3,4],[5,6,7,8]])
print('Before: {}'.format(bef))

after =bef.reshape((2,2,2))
print('After: {}'.format(after))

Before: [[1 2 3 4]
 [5 6 7 8]]
After: [[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [123]:
# Vertically stacking vectors

v1 = np.array([1,2,3,4])
v2 = np.array([5,6,7,8])

np.vstack([v1,v2,v1,v2])

array([[1, 2, 3, 4],
       [5, 6, 7, 8],
       [1, 2, 3, 4],
       [5, 6, 7, 8]])

In [124]:
# Horizontal stack

h1 = np.ones((2,4))
h2 = np.zeros((2,2))

np.hstack([h1,h2])

array([[1., 1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0., 0.]])

### Miscellaneous

In [127]:
filedata = np.genfromtxt('data.txt',delimiter=',')
filedata = filedata.astype('int32')
print(filedata)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]
 [15 16 17 18 19 20 21]]

### Boolean Masking and Advanced Indexing

In [131]:
filedata > 12

array([[False, False, False, False, False, False, False],
       [False, False, False, False, False,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True]])

In [132]:
filedata[filedata > 12]

array([13, 14, 15, 16, 17, 18, 19, 20, 21])

In [134]:
# if any of the values are > 12

np.any(filedata > 12, axis=0)

array([ True,  True,  True,  True,  True,  True,  True])

In [138]:
# if all of the values are > 12

np.all(filedata > 12, axis=0)

array([False, False, False, False, False, False, False])

In [139]:
np.all(filedata>12,axis=1)

array([False, False,  True])

In [142]:
((filedata > 5) & (filedata < 15))

array([[False, False, False, False, False,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True],
       [False, False, False, False, False, False, False]])